<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="page-content" class="container mt-5">
    <h2 class="text-center">Search products</h2>

    <form th:action="@{/products/search-results}" method="GET">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="">
            <label for="title" class="form-label">Enter title of the product</label>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</main>

</body>
</html>